*{
    margin: 0px;
    padding: 0px;
    /* border: 2px solid peru; */
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 0, 0);
    border: white solid 2px;
}

img{   
    width:500px; 
    height: 250px;
    border: solid 2px black;
    padding: 20px;
    margin: 20px;
}

.inline{
    display: inline-block;
}


